.leave{
    border: 1px solid black;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }

  table {
    margin-left: auto; 
    margin-right: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
 th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
  }
  td{
    text-align: left;
    padding: 8px;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  .menu_bottun {
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.title1{
  font-size: 30pt;
}