/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } */

div.text {
    float: left;
    margin-left: 100px
  }

.content1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width:50%;
    height:40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }


  .contentLeft {
    margin-left:20px;
  }
