<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Employee Apply Leave</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/employeeLeave.css">
      <link rel="stylesheet" href="css/payroll.css">
   </head>




   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <!-- <div class="loader"><img src="images/loading.gif" alt="#" /></div> -->
      </div>
      <!-- end loader -->
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">
            <a href="index.html">Home </a>
            <a href="about.html">About</a>
            <button type="submit" style="background: black; height: 45px; width: 200px; color:white; font:oblique;" formmethod="GET / POST" formaction="/">Add Employee</button>
            <button type="submit" style="background: black; height: 45px; width: 200px; color:white; font:oblique;" formmethod="GET / POST" formaction="/find">Find Employee</button>
            <button type="submit" style="background: black; height: 45px; width: 200px; color:white; font:oblique;" formmethod="GET / POST" formaction="/empLeave">Apply Leave</button>
            <button type="submit" style="background: black; height: 45px; width: 200px; color:white; font:oblique;" formmethod="GET / POST" formaction="/empPayroll">Payroll</button>
         </form>
      </div>

      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-4">
                     <div>
                        <p class="title1">Employee Leave</p>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-8">
                     <div class="right_bottun">
                        <ul class="conat_info d_none ">
                           <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                        <button class="openbtn" onclick="openNav()"><img src="images/menu_icon.png" alt="#"/> </button> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      
      <!-- banner -->
      <section class="banner_main">
        <form action="/applyleave" autocomplete="on" method = "POST" enctype="multipart/form-data">
          
          <div class="leave">

              Employee ID: <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>
              
              Date of leave:  
              <input type="date" name="date_leave">
              <br><br>

              Reason of leave:<input style="height:25px;font-size:14pt;color:grey;" type="text" name="reason_leave"><br><br>

              Supporting Document: <input type=file name="leave_document" style="height:50px;font-size:14pt;color:grey;"> <br><br>

              <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">SUBMIT LEAVE</button>

          </div><br>

    
</form>
<br>
      <table>
          <tr>
            <th>Employee ID</th>
            <th>Attendance Leave Period</th>
            <th>Reason of Leave</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>{{ ID }}</td>
            <td>{{ Period }}</td>
            <td>{{ Reason }}</td>
            <td>{{ Status }}</td>
          </tr>
          <tr>
              <td>{{ ID }}</td>
              <td>{{ Period }}</td>
              <td>{{ Reason }}</td>
              <td>{{ Status }}</td>
          </tr>
          <tr>
              <td>{{ ID }}</td>
              <td>{{ Period }}</td>
              <td>{{ Reason }}</td>
              <td>{{ Status }}</td>
          </tr>
        </table>
      </section>
      <!-- end banner -->

      




      <!--  footer -->
      <footer>
         <div class="footer bottom_cross1">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Address : Lorem Ipsum <br> is simply dummy 
                        </li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>Phone :  +(1234) 567 890</li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>Email : demo@gmail.com</li>
                     </ul>
                     <form class="bottom_form">
                        <h3>Newsletter</h3>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                  </div>
                  <div class="col-md-8">
                     <div class="map">
                        <figure><img src="images/map.png" alt="#"/></figure>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->




      
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
      </script>
   </body>
</html>









