<!DOCTYPE html>
<html>
<head>
	<title>Employee Payroll Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Payroll Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

			  		Employee ID:<br> {{ id }} <br><br>

			  		Attendance Status:<br> {{ status }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formmethod="POST" formaction="/empattend">GO BACK</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
