<!DOCTYPE html>
<html>
<head>
	<title>Employee Payroll Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Payroll Information</h1>

		<body bgcolor="lightgrey">

			<form>
				<form action="/empAttendance" autocomplete="on" method = "GET / POST">
					Attendance Status:<br> {{ status }} <br><br>
					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" >GO BACK</button><br><br>
			  </form>
			</form>

		</body>

	</font>
</center>
</html>
